.info-slideshow {
    display: flex;
    justify-content: normal;
    align-items: center;
    text-align: center;
    margin: 40px 0px 50px 0px;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    color: #085800;
}

.info-container {
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 850px;
    height: 400px;
    background-color: #FFEB9A;

    padding: 25px;
    border-radius: 25px;
}

.buttom-container {
    display: flex;
    justify-content: center;
}

.info-image {
    width: 65px;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.info-title {
    color: #085800;
    display: flex;
    flex-direction: column;

    opacity: 0.6;

    align-items: center;
    justify-content: center;
}

.boton_icono {
    border-radius: 5px;
    border: none;
    background-color: #FFEB9A;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.boton_icono:hover {
    background-color: #ffba00;
}

.route-change-button {
    position: absolute;
    z-index: 3;
    bottom: 20px;
    padding: 10px 20px;

    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 18px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.route-change-button:hover {
    background-color: darkorange;
    cursor: pointer;
    transition: 200ms;
}