.header {
    background-color: #F2FFEC;
    flex: auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: 10px;
}

.header_logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.header_enterprise_name {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}
.header_options {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    padding-right: 20px;
}

.header_options li {
    justify-content: center;
    align-items: center;
}

.header_options li a {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    color: rgb(82, 45, 0);
    text-decoration: none;
}

.header_options li a::before {
    content: "";
    position: absolute;
    background-color: orange;
    transform: translate(-10px, 20px);
    width: 0px;
    height: 2px;
}

.header_options li a:hover::before {
    width: calc(100% + 20px);
    transition: 300ms;
}

.header_options li a:hover {
    color: orange;
    cursor: pointer;
    transition: 200ms;
}


.header_enterprise_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
}